<!--CSS for Hidden-->
<style>
  .hidden{
    display: none;
  }
</style>

<!--Question Input Field-->

<!--Multiple Choice-->
<form action="#" id='mc' class='hidden'>
<div class="row" style="padding:5px">
		<div class="input-field col s12">
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Question</label>
      </div>
		</div>
		
		<div id='questions'>
		<div class='row'>
		<div class="input-field col s12">
        <input type='text' id='a1' name='a1' />
        <label for="a1">Answer 1</label>
		</div>
		</div>
		</div>
		
		<div class='row'><a id='addQ' class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">add</i></a></div>
		
		<div class='row'>
		<div class='container right-align' style='padding:5px'>
		<button class="btn waves-effect waves-light orange" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
		</div>
		</div>
</form>


<!--Short Answer-->
<form action="#" id='sa' class='hidden'>
<div class="row" style="padding:5px">
		<div class="input-field col s6">
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Question</label>
      </div>
	  
        <div class="input-field col s6">
          <input id="climit" type="number" />
          <label for="climit">Character Limit</label>
        </div>
		</div>
		<div class='row'>
		<div class='container right-align' style='padding:5px'>
		<button class="btn waves-effect waves-light orange" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
</div>
</div>
</form>

<!--True False-->
<form action="#" id='tf' class='hidden'>
<div class="row" style="padding:5px">
		<div class="input-field col s12">
        <textarea id="q1" class="materialize-textarea"></textarea>
        <label for="q1">Question</label>
      </div></div>
	  <div class="row">
	  <div class="input-field col s6 center-align">
    <p>
	  <input name="t" type="radio"/>
      <label>
        <span>True</span>
      </label>
    </p>
 <p>
	  <input name="false" type="radio"/>
      <label>
        <span>False</span>
      </label>
    </p>
	</div>
	</div>
			<div class='row'>
		<div class='container right-align' style='padding:5px'>
		<button class="btn waves-effect waves-light orange" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
</div>
</div>
</form>






<!--Ranking-->
<form action="#" id='r' class='hidden'>
<div class="row" style="padding:5px">
		<div class="input-field col s12">
        <textarea id="question" class="materialize-textarea"></textarea>
        <label for="question">Question</label>
      </div>
		</div>
		
		<div id='rQuestions'>
		<div class='row'>
		
		<div class="input-field col s6">
        <input type='text' id='a1' name='a1' />
        <label for="a1">Answer 1</label>
		</div>
		
		<div class="input-field col s6">
        <input type='text' id='rank' name='rank' />
        <label for="a1">Rank</label>
		</div>
		
		</div>
		</div>
		
		<div class='row'><a id='addRank' class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">add</i></a></div>
		
		<div class='row'>
		<div class='container right-align' style='padding:5px'>
		<button class="btn waves-effect waves-light orange" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
		</div>
		</div>
</form>

<!--Matching-->
<form action="#" id='m' class='hidden'>
matching
</form>

<!-- Submit Button -->

<!--JavaScript-->
<script type="text/javascript">
  testOrSurvey = '{{ testOrSurvey }}';
  qType = '{{ qType }}';

    currentQuestion = document.getElementById(qType);
    currentQuestion.style.display = 'inline';
	
  $('#addQ').click(function() {
    $("#questions").append("<div class='row'><div class='input-field col s12'><input type='text' id='a1' name='a1' /><label for='a1'>Answer 1</label></div></div>");
  });
  
   $('#addRank').click(function() {
    $("#rQuestions").append("<div class='row'><div class='input-field col s6'><input type='text' id='a1' name='a1' /><label for='a1'>Answer 1</label></div><div class='input-field col s6'><input type='text' id='rank' name='rank' /><label for='a1'>Rank</label></div></div>");
  });
</script>
