<!--CSS for Hidden-->
<style>
  .hidden{
    display: none;
  }
</style>

<!--Multiple Choice-->
<form action="#" id='mc' class='hidden'>
multiple choice
</form>

<!--True False-->
<form action="#" id='tf' class='hidden'>
true false
</form>

<!--Short Answer-->
<form action="#" id='sa' class='hidden'>
short answer
</form>

<!--Ranking-->
<form action="#" id='r' class='hidden'>
ranking
</form>

<!--Matching-->
<form action="#" id='m' class='hidden'>
matching
</form>

<!--JavaScript-->
<script type="text/javascript">
  testOrSurvey = '{{ testOrSurvey }}';
  qType = '{{ qType }}';
  
    currentQuestion = document.getElementById(qType);
    currentQuestion.style.display = 'inline';
</script>
