<!HTML>
<html>
<head>
  <!--Header-->
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>SurveyOrange</title>
  <link rel="icon" href="{{url_for('static', filename='gregg.png') }}" type="image/png">

  <!--Jquery UI-->
  <link rel='stylesheet' href="{{url_for('static', filename='themes/jqueryui/jquery-ui.min.css') }}" />
  <link rel='stylesheet' href="{{url_for('static', filename='themes/jqueryui/jquery-ui.structure.min.css') }}" />
  <link rel='stylesheet' href="{{url_for('static', filename='themes/jqueryui/jquery-ui.theme.min.css') }}" />
  <!--Google MDL-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href="{{url_for('static', filename='themes/materialize.min.css') }}" />

  <!--JS files-->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='themes/jqueryui/jquery-ui.js') }}"></script>
  <script src="{{url_for('static', filename='materialize.min.js') }}"></script>


  <style>
  nav, footer {
 background-color: #003366 !important;
  }
  #sortable {
    cursor:pointer;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
    background-color:#e5eaef;
  }
  #git:hover {
    color:white !important;
  }
  .carousel {
    max-height:58.87%;
  }
  .arrows {
    top:50%;
    position:absolute;
  }
  .arrows-text{
    font-size: 4.2rem;
  }
  a.arrows-text{
    color:white !important;
  }
  .modal, .modal-footer {
    background-color:#fff8ef !important;
  }
</style>

<style>

#sortableA, #sortableB, #sortableC, #sortableD {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortableA li, #sortableB li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 15%; }
  #sortable li { margin: 0 5px 5px 5px; padding: 0; font-size: 1.2em; height: 1.5em; }

  .question {
  font-size:1.2em;
  font-weight:450;
  }
  .hidden {
  padding-left:5%;
  display:none;
  }
   .rounded-big{
  border-radius: 15px;
  }
  .rounded-small {
  border-radius:12px;
  }
  </style>
</head>
<body>
  <!--Header-->
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">terrain</i>SurveyOrange</a>
        <ul class="right hide-on-med-and-down">
          <form id='searchbar' style='display:none;'>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </ul>
      </div>
    </nav>
  </header>

  <!--Main-->
  <!--Put stuff below-->
    <main>

    <!--Make, Take, View, and Edit Buttons -->
    <div class='container center-align' style='padding:5px'>
	<div class="card-panel white">
            <span class="black-text">
      <a class='dropdown-button btn-large green rounded-big' data-beloworigin="true" href='#' data-activates='dropdown1'><i class="material-icons left">add</i>Make</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="ts" id='t' href="#!">Test</a></li>
        <li class="divider"></li>
        <li><a class="ts" id='s' href="#!">Survey</a></li>
      </ul>
      <a class="waves-effect waves-light btn-large green rounded-big"><i class="material-icons left">poll</i>Take</a>
      <a class="waves-effect waves-light btn-large green rounded-big"><i class="material-icons left" id='view'>remove_red_eye</i>View</a>
      <a class="waves-effect waves-light btn-large green rounded-big"><i class="material-icons left">mode_edit</i>Edit</a>
		  </span>
		  </div>
		  
		  <div class="card-panel white">
		  <!--Ranking-->
		  <div class="row hidden" id="r">
		  <form id='r'>
		  <div class="questionR col s12"></div>
		  <ul id="sortableA">
		  </ul>
		  </form>
		  </div>
		  
		  <!--Multiple Choice-->
		  <div class="row hidden" id="mc">
		  <form id='mc'>
		  <div class="questionMC col s12"></div>
		  <div class='col s12 center-align aLocation'>

		  </div>
		  </form>
		  </div>
		  
		  <!--TrueFalse-->
		  <div class="row hidden" id="tf">
		  <form id='tf'>
		  <div class="questionTF col s12"></div>
		  <div class='col s12 center-align'>
			   <p>
				<input name="opt" value="1" id='true' type="radio"/>
				<label for="true">True</label>
				</p>
				<p>
				<input name="opt" value="0" id='false' type="radio"/>
				<label for="false">False</label>
				</p>
		  </div>
		  </form>
		  </div>
		  
		  <!--Matching-->
		  <div class="row hidden" id="m">
		  <form id='m'>
		  <div class="questionM col s12"></div>
<ul id="sortableC" class="connectedSortable">

</ul>
 
<ul id="sortableD" class="connectedSortable">

</ul>
		  </form>
		  </div>
		  
		  <!--Short Answer-->
		  <div class="row hidden" id="sa">
		  <form id='sa'>
		  <div class="question col s12">
		  <p class="questionSA"></p>
		  [Character Limit: <span id="climit"> {{ climit }} </span>]
		  </div>
		<div class="input-field col s12">
        <textarea id="a" name="a" class="materialize-textarea" maxlength="{{ climit }}"></textarea>
        <label for="a">Answer</label>
      </div>

		  </form>
		  </div>
		  <div class="row">
		  <span class='container left-align' style="padding-right:25%;">
                  <button type="button" class="btn waves-effect waves-light green" name="prev" id="prev">Prev <i class="material-icons left">navigate_before</i></button>
                </span>

                <span class='container right-align' style="padding-left:25%">
                  <button type="button" class="btn waves-effect waves-light green" name="next" id="next">Next <i class="material-icons right">navigate_next</i></button>
                </span>
				</div>
				<div class='container right-align'>
			
			</div>
	</div>
  </div>






</main>

<!--Footer-->
  <div class="fixed-action-btn">
    <a id='menubutton' class="btn-floating waves-effect waves-light green btn-large">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating waves-effect waves-light yellow darken-1"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating waves-effect waves-light blue"><i class="material-icons">poll</i></a></li>
      <li><a class="btn-floating waves-effect waves-light purple"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
  <!--Footer-->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
	  
        <div class="col l6 s12">
          <h5 class="white-text">SSW322 Design VI Project</h5>
          <p class="grey-text text-lighten-4">The task for this project was to create a survey/test making and taking site. Try it out if you'd like!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Github</h5>
          <ul>
            <li><a id='git' class="grey-text text-lighten-3" href="https://github.com/khockenj">Kevin's Github</a></li>
            <li><a id='git' class="grey-text text-lighten-3" href="https://github.com/robjweiss">Rob's Github</a></li>
            <li><a id='git' class="grey-text text-lighten-3" href="https://github.com/yborai">Yoseph's Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2018 Gregg's Golden Boys
        <a id='git' class="grey-text text-lighten-4 right" href="https://github.com/khockenj/ssw215">Other Projects</a>
      </div>
    </div>
  </footer>
</body>
<script>
var choices = {{ passedChoices|tojson }};
var matches = {{ passedMatches|tojson }};
var qType = "{{ passedQType }}";
var qIndex = {{ qIndex }};
var question = "{{ passedQ }}";
var length = {{ length }};
var title = "{{ title }}"
document.getElementById(qType.toLowerCase()).style.display = 'block';
$(".question" + qType.toLowerCase()).append("<p style='text-align:center; font-weight: bold; font-size:medium;'>" + question +"</p>");


if(qType == "mc") {
  choices.forEach(function(x, i) {
	$(".aLocation").append("<p><input name='opt' value='" + x + "' id='" + i + "' type='radio' /><label for='" + i + "'>" + x + "</label></p>");
	});
} else if(qType == "sa") {

} else if(qType == "r") {
choices.forEach(function(x, i) {
	$("#sortableA").append("<li class='ui-state-default'>" + x + "</li>");
	});
} else if(qType == "m") {
choices.forEach(function(x, i) {
	$("#sortableC").append("<li class='ui-state-default'>" + x + "</li>");
	});
matches.forEach(function(x, i) {
	$("#sortableD").append("<li class='ui-state-default'>" + x + "</li>");
	});
} else if(qType == "tf") {

}

 $( function() {
    $( "#sortableC, #sortableD" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
  
   $( function() {
    $( "#sortableA" ).sortable();
    $( "#sortable" ).sortable({
      placeholder: "ui-state-highlight"
    });
    $( "#sortable" ).disableSelection();
  } );
  
  $('#next').click(function() {
 	window.location.replace("/take/" + (qIndex+1));
});

 /* $('#prev').click(function() {
 	window.location.replace("/take/" + (qIndex-1));
});
*/

if(qIndex+1 != length) {
$('#next').click(function() {
 $.post("/saveAnswer", $("#" + qType.toLowerCase()).serialize() + "&qType=" + qType + "&title=" + title, function(data) {
	alert(data);
 });
});
} else {
$("#footer-copyright" ).load("/storeToAnswerSheet");
 	window.location.replace("/dash"); //move to grade
}
if(qIndex == 0) {
document.getElementById("prev").style.display = 'none';
}

if(qIndex+1 == length) {
document.getElementById("next").innerHTML = "Save <i class='material-icons right'>save</i>";

}
  </script>
</html>
