<!HTML>
<html>
<head>
  <!--Header-->
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>SurveyOrange</title>
  <link rel="icon" href="{{url_for('static', filename='gregg.png') }}" type="image/png">

  <!--Jquery UI-->
  <link rel='stylesheet' href="{{url_for('static', filename='themes/jqueryui/jquery-ui.min.css') }}" />
  <link rel='stylesheet' href="{{url_for('static', filename='themes/jqueryui/jquery-ui.structure.min.css') }}" />
  <link rel='stylesheet' href="{{url_for('static', filename='themes/jqueryui/jquery-ui.theme.min.css') }}" />
  <!--Google MDL-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href="{{url_for('static', filename='themes/materialize.min.css') }}" />

  <!--JS files-->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='themes/jqueryui/jquery-ui.js') }}"></script>
  <script src="{{url_for('static', filename='materialize.min.js') }}"></script>


  <style>
  nav, footer {
 background-color: #003366 !important;
  }
  #sortable {
    cursor:pointer;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
    background-color:#e5eaef;
  }
  #git:hover {
    color:white !important;
  }
  .carousel {
    max-height:58.87%;
  }
  .arrows {
    top:50%;
    position:absolute;
  }
  .arrows-text{
    font-size: 4.2rem;
  }
  a.arrows-text{
    color:white !important;
  }
  .modal, .modal-footer {
    background-color:#fff8ef !important;
  }
</style>

<style>
  .hidden{
    display: none;
  }
</style>
</head>
<body>
  <!--Header-->
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">terrain</i>SurveyOrange</a>
        <ul class="right hide-on-med-and-down">
          <form id='searchbar' style='display:none;'>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </ul>
      </div>
    </nav>
  </header>

  <!--Main-->
  <!--Put stuff below-->
  <main>
<div class='container center-align' style='padding:5px'>
      <a class='dropdown-button btn-large green' data-beloworigin="true" href='#' data-activates='dropdown1'><i class="material-icons left">add</i>Make</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="ts" id='t' href="#!">Test</a></li>
        <li class="divider"></li>
        <li><a class="ts" id='s' href="#!">Survey</a></li>
      </ul>
      <a class="waves-effect waves-light btn-large green"><i class="material-icons left">poll</i>Take</a>
      <a class="waves-effect waves-light btn-large green"><i class="material-icons left" id='view'>remove_red_eye</i>View</a>
      <a class="waves-effect waves-light btn-large green"><i class="material-icons left">mode_edit</i>Edit</a>
    </div>
	
    <div class='container center-align'>
      <div class="row">
        <div id='testsurv' class="input-field col s12">
          <div class="card-panel white">
            <span class="black-text">

              <!--Matching-->
              <form id='m' class='hidden'>
			  <table id='m' class="centered">
			  <thead>
			  <tr>
			  <th colspan='2' id='qLocation'></th>
			  </tr>
			  <tr>
			  <th>Match A</th>
			  <th>Match B</th>
			  </tr>

			  </table>
              </form>

			  <!--Multiple Choice-->
			  <form id='mc' class='hidden'>
			  <div id='qLocationMC'></div>
			   <div id='aLocation' class='col s12 center-align' style="padding-left:20%; padding-bottom:3%;">
			   
				
				</div>
				</form>
				<!--TrueFalse-->

			<form id='tf' class='hidden'>
			<div id='qLocationTF'></div>
			<div class='col s12 center-align' style="padding-left:20%; padding-bottom:3%;">
			   <p>
				<input name="opt" value="1" id='true' type="radio" disabled />
				<label for="true">True</label>
				</p>
				<p>
				<input name="opt" value="0" id='false' type="radio" disabled />
				<label for="false">False</label>
				</p>
				</div>
				</form>

				<!--ShortAnswer-->
			<form id='sa' class='hidden'>
			<div id='qLocation'><p style="text-align:center; font-weight: bold; font-size:medium; padding-bottom:2%;">Write a short essay on fruit [500 characters]</p></div>
			<div class='col s12 center-align'>Fruit are my favorite. I love fruit. I love fruit so much I want to marry fruit. Haha. I love fruit. I think that Oranges are my favorite fruit of all time. I want to marry you, green. Will you marry me?</div>
			</form>

      <!--Ranking-->
      <form id='r' class='hidden'>
        <table id='r' class="centered">
          <thead>
            <th id='qLocation' colspan='2'></th>
            <tr>
              <th>Rank Order</th>
              <th>Choice</th>
            </tr>
          </table>
        </form>

              <!--Next Button-->

			  <span class='container left-align' style="padding-right:25%;">
                  <button type="button" class="btn waves-effect waves-light green" name="prev" id="prev">Prev <i class="material-icons left">navigate_before</i></button>
                </span>

                <span class='container right-align' style="padding-left:25%">
                  <button type="button" class="btn waves-effect waves-light green" name="next" id="next">Next <i class="material-icons right">navigate_next</i></button>
                </span>



            </span>
			</div>
        </div>
      </div>
    </div>
  </main>

<!--Footer-->
  <div class="fixed-action-btn">
    <a id='menubutton' class="btn-floating waves-effect waves-light btn-large green">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating waves-effect waves-light yellow darken-1"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating waves-effect waves-light blue"><i class="material-icons">poll</i></a></li>
      <li><a class="btn-floating waves-effect waves-light purple"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating waves-effect waves-light grey"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
  <!--Footer-->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SSW322 Design VI Project</h5>
          <p class="grey-text text-lighten-4">The task for this project was to create a survey/test making and taking site. Try it out if you'd like!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Github</h5>
          <ul>
            <li><a id='git' class="grey-text text-lighten-3" href="https://github.com/khockenj">Kevin's Github</a></li>
            <li><a id='git' class="grey-text text-lighten-3" href="https://github.com/robjweiss">Rob's Github</a></li>
            <li><a id='git' class="grey-text text-lighten-3" href="https://github.com/yborai">Yoseph's Github</a></li>
            <li><a id='git' class="grey-text text-lighten-3" href="#!">Joe's Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2018 Gregg's Golden Boys
        <a id='git' class="grey-text text-lighten-4 right" href="https://github.com/khockenj/ssw215">Other Projects</a>
      </div>
    </div>
  </footer>
</body>
<script type='text/javascript'>
var choices = {{ passedChoices|tojson }};
var matches = {{ passedMatches|tojson }};
var qType = "{{ passedQType }}";
var ans = "{{ passedAns }}";
var qIndex = {{ qIndex }};
var question = "{{ passedQ }}";
var length = {{ length }};
if(qType == "MC") {
  document.getElementById("mc").style.display = 'block';
  $("#qLocationMC").append("<p style='text-align:center; font-weight: bold; font-size:medium;'>" + question +"</p>");
  choices.forEach(function(x, i) {
	if(i+1 != ans) {
	$("#aLocation").append("<p><input name='opt' value='" + x + "' id='" + i + "' type='radio' disabled /><label for='" + i + "'>" + x + "</label></p>");
	} else {
	$("#aLocation").append("<p><input name='opt' value='" + x + "' id='" + i + "' type='radio' checked='checked' /><label for='" + i + "'>" + x + "</label></p>");
	}
	});
} else if(qType == "SA") {
  document.getElementById("sa").style.display = 'block';
} else if(qType == "M") {
   document.getElementById("m").style.display = 'block';
   choices.forEach(function(x, i) {
	$("table#m").append("<tr><td style='text-align:center;'>" + x + "</td><td style='text-align:center;'>" + matches[i] + "</td></tr>");
	$("[id='qLocation']").append(question);
});
} else if(qType == "R") {
  document.getElementById("r").style.display = 'block';
  choices.forEach(function(x, i) {
	$("table#r").append("<tr><td style='text-align:center;'>"+(i+1)+"</td><td style='text-align:center;'>" + x + "</td></tr>");
	$("#qLocation").append(question);
});
} else if(qType == "TF") {
  document.getElementById("tf").style.display = 'block';
	$("#qLocationTF").append("<p style='text-align:center; font-weight: bold; font-size:medium;'>" + question + "</p>");
	$("[value='" + ans + "']").attr("checked", "checked")

}

 $('#next').click(function() {
 	window.location.replace("/view/" + (qIndex+1));
});

 $('#prev').click(function() {
 	window.location.replace("/view/" + (qIndex-1));
});

if(qIndex == 0) {
document.getElementById("prev").style.display = 'none';
}

if(qIndex+1 == length) {
document.getElementById("next").style.display = 'none';
}
</script>

<script>
$( function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
});


(function ($) {
  $(function () {
    $('select').material_select();
  }); // end of document ready
})(jQuery);

//View
$('#view').click(function(){
  $.post("/templates/view.html", "t=" + type, function(data) {
    $("#testLoader").html(data).trigger('create');
  });
});


//Take Test
var type = "";
$('.ts').click(function() {
  if(type != $(this).attr("id")) {
  		$('html,body').animate({scrollTop: $("#testsurv").offset().top});
		$("#testLoader").html("");
		$('#list').val("");
		$('select').material_select();
  }
type = $(this).attr("id");

  document.getElementById("testsurv").style.display = 'inline';
  document.getElementById("qLoad").style.display = 'block';
  $.post("/createSurveyObject", "t=" + type, function(data) {
    alert(data);
  });
});

$('#list').change(function() {
  $.post("/add", $("#q").serialize() + "&t=" + type, function(data) {
    $("#testLoader").html(data).trigger('create');
  });
});
</script>
</html>
